@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
	background: url('/images/back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    z-index: -1;
    -o-background-size: cover;
    background-size: cover;
/*    color:#fff;

  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
*/	
}

/*.block {
	background-color:rgba(0,0,0,0.2);
    height:370px;
  	padding-left:12px;
  	padding-right:12px;
}*/